<a href="https://colab.research.google.com/github/2303A52174/AIML_2303A52174/blob/main/Lab1_AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1 – Implement Basic Data Structures using Numpy, Pandas
1. Lists
2. Arrays
3. Identify their type using type()
4. Perform mathematical operations on these datasets created - multiplication, division,
poweroff
5. Combine text with Numpy fuction to generate a textual output - ”Addition of Two:
array1 +array 2
6. Implement np.sin(), log(), log2(), np.exp())

In [1]:
import numpy as np
list=[1,2,3]
array1=np.array(list)
array1

array([1, 2, 3])

In [7]:
list2=[4,5,6]
array2=np.array(list2)
array2

array([4, 5, 6])

Identify their type using type()

In [2]:
type(list)

list

In [3]:
type(array1)

numpy.ndarray

Perform mathematical operations on these datasets created - multiplication, division,
powerof

In [8]:
print("array2 multiplied by array1: ",array1*array2)
print("array2 divided by array1: ",array2/array1)
print("array2 raised to the power of array1: ",array2**array1)

array2 multiplied by array1:  [ 4 10 18]
array2 divided by array1:  [4.  2.5 2. ]
array2 raised to the power of array1:  [  4  25 216]

Implement np.sin(), log(), log2(), np.exp())

In [9]:
# sine function
print("Sine: ",np.sin(array1))
# logarithm
print("Natural logarithm: ",np.log(array1))
print("Base-10 logarithm: ",np.log10(array1))
print("Base-2 logarithm: ",np.log2(array1))
# Exponential
print("Exponential: ",np.exp(array1))

Sine:  [0.84147098 0.90929743 0.14112001]
Natural logarithm:  [0.         0.69314718 1.09861229]
Base-10 logarithm:  [0.         0.30103    0.47712125]
Base-2 logarithm:  [0.        1.        1.5849625]
Exponential:  [ 2.71828183  7.3890561  20.08553692]

Combine text with Numpy fuction to generate a textual output - ”Addition of Two:
array1 +array 2

In [10]:
print("Adding two numpy arrays {array1} and {array2} together:",array1+array2)

Adding two numpy arrays {array1} and {array2} together: [5 7 9]

In [11]:
print(f"Adding two numpy arrays {array1} and {array2} together: {array1+array2}")

Adding two numpy arrays [1 2 3] and [4 5 6] together: [5 7 9]